/* ----------------- Fonts ----------------- */
/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #3a3a3a;
    font-family: "Poppins", sans-serif;
}

.flex {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
.header-containier {
    margin: 80px 120px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #3a3a3a;
}

.logo span {
    color: #e02c6d;
    font-weight: 700;
}

.logo-text {
    font-size: 24px;
}

ul {
    gap: 34px;
}

.nav-item {
    font-size: 16px;
    font-weight: 600;
}

.fa-magnifying-glass {
    width: 24px;
    height: 24px;
}

.cart {
    width: 36px;
    height: 36px;
}

/* Banner */
.banner {
    margin-right: 165px;
    margin-left: 120px;
    gap: 130px;
    align-items: center;
}

.banner-head {
    font-weight: 700;
    font-size: 50px;
}

.banner-head span {
    color: #e02c6d;
}

.banner-p {
    font-weight: 600;
    font-size: 16px;
    margin: 16px 0;
}

.primary-btn {
    padding: 10px 24px;
    background: #e02c6d;
    border-radius: 41px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.fa-arrow-right {
    color: #ffffff;
    margin-left: 10px;
}

.main-camera {
    width: 440px;
    height: 414px;
}

/* Clients */
.clients {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 100px 165px;
    justify-items: center;
}

.client {
    height: 100px;
}

/* Popular Collection */
.popular-collections {
    margin: 0 190px;
}

.popular-heading {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.collectoins {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    justify-items: center;
}

.collection {
    padding: 15px;
}

.see-more {
    margin-top: 50px;
    text-align: right;
}

.see-more p {
    color: rgba(224, 44, 109, 0.87);
}

.see-more p .fa-arrow-right {
    color: rgba(224, 44, 109, 0.87);
}

.collection-name {
    font-weight: 500;
    font-size: 28px;
}

.price {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    margin: 5px 0;
    color: rgba(0, 0, 0, 0.87);
}

.collection-info {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    color: #787885;
    margin-top: 5px;
}

.fa-star-half-stroke,
.fa-star {
    width: 11.07px;
    height: 10.32px;
    color: #fb8200;
}

.fa-star {
    margin-right: 5px;
}

.fa-star-half-stroke {
    margin-right: 20px;
}

.rating {
    font-weight: 700;
    font-size: 14px;
    color: #5e6366;
}

/* Featured Products */
.feature {
    margin: 100px 165px;
    gap: 90px;
    align-items: center;
    justify-content: center;
}

.feature-head {
    font-weight: 700;
    font-size: 38px;
    color: #0a0826;
    margin-top: 5px;
}

.feature-p {
    font-weight: 700;
    font-size: 16px;
    color: #6c6c6c;
    margin: 16px 0;
    width: 500px;
}

footer {
    height: 240px;
    width: 100%;
    background: #0a0826;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
    color: #ffffff;
}

.white {
    color: #ffffff;
    margin: 17px auto;
}

.icon {
    /* gap: 30px; */
    width: 176px;
    margin: 0 auto;
}

.footer-h {
    font-weight: 700;
    font-size: 24px;
}

.footer-p {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 14px;
}
